name: GH Action Demo

on: 
    push:
    workflow_dispatch: 

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run Task 1
      run: echo ---- Running Task 1 ---

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - uses: actions/checkout@v2
    - name: Run Task 2 - Random Commands
      run: |
         echo ---- Running Task 2 ---
         pwd
         ls
         uname -a
